.dialog-content {
  width: 360px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

.principal {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
